.priceList{
    width: 100%;

}

.price_title{
    box-sizing: border-box;
    text-align: center;
    color: black;


    font-size: 30px;
    font-weight: 700;

    margin-top: 2rem;
    padding: 3rem;

    border: solid 2px black;
    border-right: 0px;
    border-left: 0px;
}

.price_block{
    max-width: 1200px;
    margin: auto;

    font-size: 18px;

    display: flex;
    height: 60vh;
}

.price_block .column{
    width: 50%;
}

.price_block .title{
    font-size: 24px;
    font-weight: 600;
}
.price_block .column:first-child ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: relative;
}

.price_block .column:first-child ul li {
    text-align: center;
    font-size: 20px;
    padding: 1rem 1rem;
    display: inline-block;
    position: relative;
}

.price_block .column:first-child ul li::after {
    content: '';
    position: absolute;
    width: 60px; /* Width of the image */
    height: 60px; /* Height of the image */
    background-image: url('arrow__1_-removebg-preview.png'); /* Path to your image */
    background-size: cover; /* Ensures the image fills the space */
    top: 50%; /* Position below the list item */
    left: 20%;
    transform: translateX(-50%);
    transform: rotate(90deg);
}

.price_block .column:first-child ul li:nth-child(2)::after {
    left: 73%;
    transform: translateX(-50%) scaleY(-1) rotate(-90deg);
    /* transform: scaleX(-1); */
}

.price_block .column:first-child ul li:last-child::after {
    content: none; /* Remove image for the last list item */
}

.price_block .column:first-child ul li:last-child {
    background-image: url('bc_image.webp');
    background-size: 20% 150%;
    background-position: center;
    background-repeat: no-repeat;

    color: white;
}

@media (max-width: 1250px) {
    .price_block .column:first-child ul li::after {
        top: 50%;
        left: 15%;
    }

    
    .price_block .column:first-child ul li:nth-child(2)::after {
        left: 80%;
        transform: translateX(-50%) scaleY(-1) rotate(-90deg);
        /* transform: scaleX(-1); */
    }
}

@media (max-width: 1000px) {
    .price_block {
        flex-direction: column;
        height: auto;
    }

    .price_block .column{
        width: 100%;
    }

    .price_block .column:first-child ul li::after {
        top: 50%;
        left: 27%;
    }

    
    .price_block .column:first-child ul li:nth-child(2)::after {
        left: 68%;
        transform: translateX(-50%) scaleY(-1) rotate(-90deg);
        /* transform: scaleX(-1); */
    }
}


@media (max-width: 750px) {
    .price_block .column:first-child ul li::after {
        top: 50%;
        left: 20%;
    }

    
    .price_block .column:first-child ul li:nth-child(2)::after {
        left: 75%;
        transform: translateX(-50%) scaleY(-1) rotate(-90deg);
        /* transform: scaleX(-1); */
    }
}


@media (max-width: 580px) {
    .price_block .column:first-child ul li::after {
        top: 50%;
        left: 15%;
    }

    
    .price_block .column:first-child ul li:nth-child(2)::after {
        left: 78%;
        transform: translateX(-50%) scaleY(-1) rotate(-90deg);
        /* transform: scaleX(-1); */
    }
}


@media (max-width: 500px) {
    .price_block .column:first-child ul li::after {
        top: 50%;
        left: 3%;
    }

    
    .price_block .column:first-child ul li:nth-child(2)::after {
        left: 90%;
        transform: translateX(-50%) scaleY(-1) rotate(-90deg);
        /* transform: scaleX(-1); */
    }
}